@page
@model Project9.Pages.PurchaseConfirmationModel
@{
}

<div class="text-center">
    <h2>Thank you for your purchase! Your order will come soon.</h2>
    <a class="btn btn-primary" asp-controller="Home">Return Home</a>
</div>